.recuadro {
    background-color: #310944;
    border: 2px solid #004776;
    border-radius: 10px;
    padding: 4px;
}

.DARK {
    text-align: center;
    padding: 32px 16px;
    background: #1b1d1e;
    border-bottom: 2px solid #008db8;
}

.FN {
    background-color: #08283d;
    color: rgb(8, 121, 141);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
        }